<% if article.page_image != "" then %>
    <% imageUrl = article.page_image %>
<% else %>
    <% imageUrl = "noimage.gif" %>
<% end %>

<div class="article">
    <div class="col-sm-4" style="height:300px;">
        <div class="has-img row" style="vertical-align: middle;text-align: center;"><%= link_to image_tag(image_url("#{imageUrl}"), class: 'img-responsive img-list'), article %></div>
        <div class="vertical-midle row col-sm-10 col-sm-offset-1" style="vertical-align: middle;"><%= link_to article.title, article %></div>
        <div class="hidden-xs hidden-sm"><p class="pull-right"><%= article.date.strftime("%Y/%m/%d %H:%M:%S") %></p></div>
    </div>
</div>
