<tr class="article">
    <td><%= link_to article.title, article %></td>
    <td><%= article.date.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <!--<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
</tr>
